body {
    background-color: rgb(252, 246, 220);
}

#header {
    background-color: rgb(0, 92, 129);
    /* */
}

#footer {
    background-color: rgb(199, 204, 188)
}

#sidebar {
    background-color: rgb(31, 142, 148);
}

#sidebar a:hover,
#sidebar a:active,
#sidebar a:focus {
    background-color: rgb(68, 186, 186);
}