body {
    background-color: rgb(252, 246, 220);
}

#header {
    background-color: rgba(0, 92, 129, 0.767);
}

#footer {
    background-color: rgb(199, 204, 188)
}

#sidebar {
    background-color: rgba(31, 142, 148, 0.785);
}

#sidebar a:hover,
#sidebar a:active,
#sidebar a:focus {
    background-color: rgb(68, 186, 186);
}

#suggest {
    background-color: rgba(31, 142, 148, 0.785);
}